{% macro mast(meta) -%}
<div class="mast">
  {% if meta.logo_line %}<div class="logo">{{ meta.logo_line }}</div>{% endif %}
  <div style="margin-top: 10px"><span class="tag">{{ meta.tag_line }}</span></div>
  <h1>{{ meta.title }}</h1>
  <div class="meta">{{ meta.period.label }}</div>
</div>
{%- endmacro %}
